.wrapper_screen-4{
    max-width: 1400px;
    margin: 0 auto;
    // background-color: #8f02e7;
    min-height: 90px;
    .wrapper();
    background-color: #181818;
    background-image: url('../../img/background-screen-4.jpg');
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    // 0 0/100% 100% no-repeat;  
}
@media screen and (max-width: 992px) {
    .wrapper_screen-4{
        background-image: none;
    }
}
.screen-4{
    min-height: 540px;
    .row-flex();
}
.screen-4-content{
    box-sizing: border-box;
    // .col();
    // .size(6);
    .size-md(12);
    width: 50%;
    padding: 113px 58px;
    color: #FFF;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
@media screen and (max-width: 992px) {
    .screen-4-content{
        // width: 75%;
        margin: 0 auto;
    }
}
.screen-4-content-info{
    min-height: 314px;
    padding: 60px 44px 40px 39px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.screen-4-content-info-title{
    color: #C0C0C0;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 6px;
}
.screen-4-content-info-info_name{
    font-size: 28px;
    line-height: 32px;
}
.screen-4-content-info-text {
    font-size: 14px;
    margin-bottom: 20px;
}
.screen-4-image{
    // .col();
    width: 50%;
    // .size(6);
    // .size-md(12);
    display: flex;
    justify-content: end;
    align-items: end;
    box-sizing: border-box;
    min-height: 540px; 
    // background-color: #d7900b;
    padding: 0 0 40px 0;
}
@media screen and (max-width: 992px) {
    .screen-4-image{
        display: none;
    }
}
// .screen-2-content-images-item-button {
// }
// .screen-2-content-images-item-button-circle {
// }
.screen-2-content-images-item-button-text{
    color: #000;
}