.wrapper_screen-6{
    max-width: 1400px;
    margin: 0 auto;
    min-height: 90px;
    background-color: #000000;
    .wrapper();
}
.screen-6{
    background-color: #000000;
    padding: 130px 0 100px 0;
}
.screen-6-content-title{
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    margin-bottom: 15px;
}
.screen-6-content-subtitle{
    color: #C0C0C0;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 42px;
}
.companies-wrapper{
    .row-flex();
}
.screen-6-content-companies{
    .row-flex();
    .size(12);
    justify-content: space-between;
    padding: 40px 29px;
}
@media screen and (max-width: 860px) {
    .screen-6-content-companies{
        display: block;
    }
}
.screen-6-content-companies-company{
    .size(1.5);
    .size-lsm(9);
    .col();
    height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        transition-duration: 0.5s;
        transform: scale(1.5);
    }
}
@media screen and (max-width: 860px) {
    .screen-6-content-companies-company{
        margin: 0 auto;
        &:not(:last-child){
            margin-bottom: 50px;
        }
    }
}
.screen-6-content-companies-company-logo{
    .size-lsm(6);
}
// @media screen and (max-width: 1205px){
    // .screen-6-content-companies-company{
    //     margin-bottom: 15px;
    //     margin-right: auto;
    // }
// }
